<div class="fill-height">
    <div class="row" ng-hide="data.hideTitle" style="height: 45px">
        <h4 class="col-xs-5">
            {{data.title}}
            <span>
                <i class="fa fa-question-circle pointer" aria-hidden="true" style="margin-left: 12px;" uib-tooltip="Klik op een outlier in de linker boxplot om de bijbehorende buurt te selecteren.">
                </i>
            </span>
        </h4>
        <div class="col-xs-6">
            <label>Auto-update</label>
            <input type="checkbox" id="autoupdate" ng-model="data.autoUpdate"></select>
            <span>
                <button class="btn btn-default small-button" style="margin-left: 12px;" ng-click="vm.updateMca(true)">Update MCA<span><i class="fa fa-refresh padding-left" aria-hidden="true"></i></span>
            </button>
            </span>
        </div>
        <div class="col-xs-1">
            <div data-ng-show="loadingSpinners.mca" id="mcaspinner" style="margin:0px;width:100%;height:100%;">
                <div class="loader"></div>
            </div>
        </div>
    </div>
    <div class="row fill-height" style="padding-bottom: 45px">
        <div class="col-md-5 fill-height" style="overflow-y:auto;">
            <div style="height: 90%">
                <form class="form">
                    <!--<div class="form-group">
                        <h4>{{'SETTINGS' | translate}}</h4>
                    </div>-->
                    <div class="form-group">
                        <label for="selected-ind">Indicator</label>
                        <select id="selected-ind" class="form-control" ng-options="vm.flatCriteria.indexOf(crit) as crit.title for crit in vm.flatCriteria"
                            ng-model="vm.selectedCriterionIndex" ng-change="vm.updateCharts()"></select>
                    </div>
                    <div class="form-group">
                        <label for="zero-choice">Score indien onbekend</label>
                        <select id="zero-choice" class="form-control" ng-options="val for (val, key) in vm.unknownValues" ng-model="vm.selectedCriterion.unknownValue"
                            ng-change="vm.updateMca()"></select>
                        <div class="form-group text-right" ng-if="isNumber(vm.selectedCriterion.unknownValue)">
                            <label for="zero-val">Aangepaste waarde<span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="Vul de score in die een buurt met de waarde 'Onbekend' of geen waarde krijgt. De MCA rekent 0 als laagste score en 1 als hoogste score, dus het wordt aangeraden om de score in het bereik [0, 1] te kiezen."></i></span></label>
                            <div class="row">
                                <div class="col-xs-offset-7 col-xs-5">
                                    <input ng-change="vm.updateMca()" ng-model-options='{ debounce: 800 }' type="number" placeholder="" ng-change="adaptCustom()"
                                        ng-model="vm.selectedCriterion.unknownValue" style="width:100%"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="limit-choice">Limiet waardes</label>
                        <select id="limit-choice" class="form-control" ng-options="key for (key, val) in vm.boundsValues" ng-model="vm.selectedCriterion.dynamicBoundsValue"
                            ng-change="vm.updateMca()"></select>
                    </div>
                    <div class="form-group text-right" ng-show="vm.selectedCriterion.dynamicBoundsValue === 'none'">
                        <label for="limit-val">Aangepaste waarde (leeg min./max.)<span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="Als er in onderstaande vakken niets wordt ingevuld, zal er in de MCA berekeningen de minimum- en maximumwaarde van de data gebruikt worden. Indien er wel waardes worden ingevuld, zullen die waardes als onder- en bovengrens gebruikt worden."></i></span></label>
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-5">
                                <input ng-change="vm.updateMca()" ng-model-options='{ debounce: 800 }' type="number" placeholder="Min." ng-model="vm.selectedCriterion.minValue"
                                    style="width:100%"></input>
                            </div>
                            <div class="col-xs-5">
                                <input ng-change="vm.updateMca()" ng-model-options='{ debounce: 800 }' type="number" placeholder="Max." ng-model="vm.selectedCriterion.maxValue"
                                    style="width:100%"></input>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default btn-xs" ng-click="vm.applyToAllIndicators()"><i class="fa fa-magic padding-right" aria-hidden="true"></i><span>Toepassen op alle indicatoren</span>
                        </button>
                        <span style="margin-left: 12px">
                            <i class="fa fa-question-circle pointer" aria-hidden="true" uib-tooltip="Past de waardes 'Score indien onbekend' en de 'Limiet waardes' van de huidige indicator toe op alle indicatoren."></i>
                        </span>
                    </div>
                    <div class="form-group no-margin">
                        <h4 class="margin-top">Indicator eigenschappen</h4>
                    </div>
                    <div class="form-group">
                        <label for="ind-stats">Aantal OK / onbekend / totaal</label>
                        <div id="ind-stats" class="form-group">{{featureCount.valid}} / {{featureCount.invalid}} / {{featureCount.total}}</div>
                    </div>
                </form>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Min.</th>
                            <th>Gemidd.</th>
                            <th>Max.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Waardes</th>
                            <td>{{statsValues.min | number:2}}</td>
                            <td>{{statsValues.avg | number:2}}</td>
                            <td>{{statsValues.max | number:2}}</td>
                        </tr>
                        <tr>
                            <th>Scores</th>
                            <td>{{statsScores.min | number:2}}</td>
                            <td>{{statsScores.avg | number:2}}</td>
                            <td>{{statsScores.max | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="small-padding margin-top">
                    <label for="weight-ind">Indicator weging: </label>
                    <span id="weight-ind" class="textlabel small-padding" ng-class="{'inverse': vm.selectedCriterion.userWeight < 0}">{{vm.selectedCriterion.userWeight}}
                    </span>
                    <span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="Een negatieve weging betekent dat de behaalde score hoger wordt naarmate waarde van de betreffende indicator daalt."></i></span>
                </div>
                <div class="small-padding margin-top">
                    <div style="display: inline-block">
                        <h4>Filter buurten</h4>
                    </div>
                    <span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="Negeer buurten vanaf een bepaald aantal onbekende waardes voor de indicatoren."></i></span>
                    <form class="form">
                        <div class="form-group">
                            <label for="filter-val-total">Maximum percentage onbekend voor totale MCA<span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="Geef aan wat het maximum percentage aan onbekende indicatorwaardes mag zijn om de buurtscore te tonen in de resultaten."></i></span></label>
                            <input id="filter-val-total" ng-change="vm.disableIncompleteFeatures()" ng-model-options='{ debounce: 800 }' type="number"
                                min="0" max="100" placeholder="Max. % onbekend" ng-model="vm.criterionCompleteness['mca'].maxUnknownPercentage"
                                showaspercentage></input>%
                        </div>
                        <div class="form-group">
                            <label>Maximum percentage onbekend voor de secties: <span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="Geef per sectie aan wat het maximum percentage aan onbekende waardes mag zijn om de buurtscore te tonen in de resultaten."></i></span></label>
                        </div>
                        <div class="form-group" ng-repeat="section in vm.selectedMca.criteria track by $index">
                            <label for="filter-val-{{$index}}">{{section.title}}</label>
                            <input id="filter-val-{{$index}}" ng-change="vm.disableIncompleteFeatures()" ng-model-options='{ debounce: 800 }' type="number"
                                min="0" max="100" placeholder="Max. % onbekend" ng-model="vm.criterionCompleteness[section.title].maxUnknownPercentage"
                                showaspercentage></input>%
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7 no-margin">
            <div class="row no-margin">
                <div class="col-md-4">
                    <div id="boxplotcontainer1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="boxplotcontainer2">
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="boxplotcontainer3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>